hw2/src/main/resources/xml/xsd/Report.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="report" type ="report"/>
        <xs:complexType name="report">
            <xs:sequence>
            <xs:element name="reportId" type="xs:integer"/>
            <xs:element name="reportName" type="xs:string"/>
            <xs:element name="link" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>